.link{
font-size: 15.5px !important;
font-weight: 450;

}
button{
  background-color: #029E7F;
  color: #fff;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) ;
}