.login-img {
    text-align: center;
}

img {
    width: 80%;
}

input[type="text"],
input[type="password"] {
    height: 40px;
    padding: 0 12%;
}

.form {
    background-color: white;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    padding: 50px 5%;
    width: 100%;
    font-family: "Roboto", sans-serif;
}

input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    border-radius: 5px;
    color: #fff;
    font-size: 1.1rem;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type="submit"]:hover {
    background: #31eeac;
}

.button-container {
    display: flex;
    justify-content: center;
}
span {
    color: #148814;
}
